venv/
__pycache__/
*.pyc
.env
orders.db
support_requests.db
node_modules/
*.egg-info/
back/
tron_env/
db/
server_*.txt
server_stderr.txt
server_err.txt
server_out.txt
server_stdout.txt
password.txt
start_server.bat
*.md
package-lock.json
package.json
crypto-exchange1/
crypto-exchange12121/
